.loginform h2{
    color: var(--col1);
    font-size: 55px;
    margin-top: 13vh;
    margin-left: 2vw;
}
.forgot{
    display: flex;
    color: white;
    width: 96%;
    gap: 10px;
}
 .pass1{
    width: 50%;
}
.pass2{
    width: 50%;
}